In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from bs4.element import ResultSet
import lxml
import json
from typing import Tuple, List, Dict, Any
import pickle

# Data Acquisition

## Scraper

Here we use the requests lib and BeautifulSoup with a html parser to extract the athletes profile id for later use.

In [3]:
def extract_hidden_table_rows(URL: str) -> ResultSet:
    """
    Returns all html table rows that contain the class name 'table-row--hover' as its a clickable element not initially displayed.
    This is to extract an athletes profile url.

    Params:
        URL: World athletics Men's 100m ranking page.

    Returns:
        results: All table rows containing data-athlete-url.
    """
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find_all("tr", class_="table-row--hover")
    return results

def extract_data_athlete_urls(results: ResultSet) -> List[str]:
    """
    Returns a list of all the extracted data-athlete-urls.

    Params:
        results: The parsed html results.

    Returns:
        data_athlete_urls: A list of data-athlete-urls.
    """
    data_athlete_urls = []
    for result in results:
        attrs = result.attrs
        data_athlete_url = attrs['data-athlete-url']
        data_athlete_urls.append(data_athlete_url)
    return data_athlete_urls

def extract_athlete_name_and_id(data_athlete_url: str) -> Tuple[int, str]:
    """
    Returns the athlete name and unique identifiction.

    Params:
        data_athlete_url: The athletes profile page ~ /athletes/united-states/trayvon-bromell-14519911.
    
    Returns:
        athlete_id, athlete_name: Athlete's name, id ~ 14633823, amaury-golitin.
    """
    url_split = data_athlete_url.split('/')[-1].split('-')
    athlete_id = int(url_split[-1])
    athlete_name = '-'.join(url_split[:-1])
    return athlete_id, athlete_name

def create_athlete_id_to_athlete(data_athlete_urls: List[str]) -> Dict[int, str]:
    """
    Returns a dictionary mapping an athletes id to their name.

    Params:
        data_athlete_urls: List of data-athlete-urls.

    Returns:
        athlete_id_to_name: dict of athlete id to name.
    """
    athlete_id_to_name = {}
    for data_athlete_url in data_athlete_urls:
        athlete_id, athlete_name = extract_athlete_name_and_id(data_athlete_url=data_athlete_url)
        athlete_id_to_name[athlete_id] = athlete_name
    return athlete_id_to_name

def print_athlete_id_to_name(athlete_id_to_name: Dict[int, str]) -> None:
    """
    Utility printing function to check scraping successful.

    Params:
        athlete_id_to_name: dict of athlete id to name

    Returns:
        None
    """
    for athlete_id, athlete_name in athlete_id_to_name.items():
        print(f"{athlete_id}: {athlete_name}")



URL = 'https://www.worldathletics.org/world-rankings/100m/men?regionType=world&page=1&rankDate=2022-10-04&limitByCountry=0'
results = extract_hidden_table_rows(URL=URL)
data_athlete_urls = extract_data_athlete_urls(results=results)
athlete_id_to_name = create_athlete_id_to_athlete(data_athlete_urls=data_athlete_urls)

print_athlete_id_to_name(athlete_id_to_name=athlete_id_to_name)

14519911: trayvon-bromell
14504382: fred-kerley
14425680: marvin-bracy
14541956: christian-coleman
14417763: akani-simbine
14453864: lamont-marcell-jacobs
14737998: oblique-seville
14201842: yohan-blake
14747153: ferdinand-omanyala
14366482: aaron-brown
14638971: ackeem-blake
14522622: reece-prescod
14432013: elijah-hall
14671546: abdul-hakim-sani-brown
14536762: noah-lyles
14466007: brandon-carnes
14476000: kyree-king
14414524: zharnel-hughes
14715873: micah-williams
14715661: yupun-abeykoon
14636943: arthur-cisse
14771648: jeremiah-azu
14629201: cravont-charleston
14465376: kendal-williams
14888403: favour-oghene-tejiri-ashe
14657140: felipe-bardi
14883897: letsile-tebogo
14375111: emmanuel-matadi
14535607: andre-de-grasse
14714099: raymond-ekevwo
14873268: benjamin-azamati
14702316: mouhamadou-fall
14334964: jimmy-vicaut
14654737: jerome-blake
14249856: michael-rodgers
14731617: jake-doran
14413736: henricho-bruintjies
14701305: chituru-ali
14469945: cejhae-greene
14417680: emile-erasmus
14715244: kenneth-bednarek
14803230: joseph-fahnbulleh
14835237: shainer-rengifo-montoya
14718734: erik-cardoso
14574661: jelani-walker
14629334: jerod-elcock
14794034: lalu-muhammad-zohri
14575440: rohan-browning
14360879: isiah-young
14761726: illas-garcia
14547456: yoshihide-kiryu
14835094: terrence-jones
14511687: jan-volko
14732744: edward-osei-nketia
14576547: nigel-ellis
14573866: joris-van-gool
14812323: owen-ansah
14852717: emmanuel-eseme
14739360: rikkoi-brathwaite
14451542: adam-thomas
14705042: usheoritse-itsekiri
14774788: matthew-boling
14752176: abdullah-abkar-mohammed
14807262: alaba-olukunle-akintola
14771269: lucas-ansah-peprah
14627434: julian-wagner
14389351: meba-mickael-zeze
14716704: davonte-burnett
14630862: clarence-munyai
14518308: reynier-mena
14677801: karl-erik-nazarov
14413552: nethaneel-mitchell-blake
14489414: eric-harrison-jr
14849101: ismael-kone
14190619: andrew-robertson
14496746: rodrigo-do-nascimento
14509174: ojie-edoburun
14434177: markus-fuchs
14210243: kukyoung-kim
14719540: ryuichiro-sakai
14747754: emanuel-archibald
14827151: israel-olatunde
14897541: erriyon-knighton
14201808: oshane-bailey
14592146: josephus-lyles
14456427: przemyslaw-slowikowski
14774742: jovaughn-martin
14888283: benjamin-richardson
14820394: tiaan-whelpton
14858024: gary-noa-jerrel-bibi
14503562: christopher-belcher
14367591: kemar-bailey-cole
14579425: ebrahima-camara
14547883: yuki-koike
14782156: conroy-jones
14813775: franco-florio
14833270: damarcus-fleming
14543976: dominik-kopec
14860572: hiroki-yanagita
14633823: amaury-golitin

## GraphQL Queries

In [65]:
def create_headers() -> Dict[str, str]:
    """
    Returns a dict containing the required HTTP headers for the graphql request.
    """
    headers = {
        "Host": "x2iza5bwnneavfz3tdx4osjp6e.appsync-api.eu-west-1.amazonaws.com",
        "Accept": "*/*",
        "Accept-Language": "en-GB,en;q=0.5",
        "Accept-Encoding": "gzip, deflate, br",
        "Referer": "https://worldathletics.org/",
        "content-type": "application/json",
        "x-api-key": "da2-i7akoctidrg5xi7atduiyjebym",
        "x-amz-user-agent": "aws-amplify/3.0.2",
        "Origin": "https://worldathletics.org",
        "Connection": "keep-alive",
        "Sec-Fetch-Dest": "empty",
        "Sec-Fetch-Mode": "cors",
        "Sec-Fetch-Site": "cross-site",
        "Sec-GPC": "1",
        "TE": "trailers"
    }
    return headers

def create_season_payload(athlete_id: int) -> Dict:
    """
    Create the payload for the athletes season graphql request.

    Params:
        athlete_id: Identifier for an athlete.
    
    Returns:
        payload: graphql request payload.
    """
    payload={
        "operationName":"GetSingleCompetitorResultsDiscipline",
        "variables":{
            "resultsByYearOrderBy":"discipline",
            "id":athlete_id,
            "resultsByYear": "2021"
        },
        "query":"query GetSingleCompetitorResultsDiscipline($id: Int, $resultsByYearOrderBy: String, $resultsByYear: Int) {\n  getSingleCompetitorResultsDiscipline(id: $id, resultsByYear: $resultsByYear, resultsByYearOrderBy: $resultsByYearOrderBy) {\n    parameters {\n      resultsByYear\n      resultsByYearOrderBy\n      __typename\n    }\n    activeYears\n    resultsByEvent {\n      indoor\n      disciplineCode\n      disciplineNameUrlSlug\n      typeNameUrlSlug\n      discipline\n      withWind\n      results {\n        date\n        competition\n        venue\n        country\n        category\n        race\n        place\n        mark\n        wind\n        notLegal\n        resultScore\n        remark\n        __typename\n      }\n      __typename\n    }\n    __typename\n  }\n}\n"
    }
    return payload

def create_all_time_payload(athlete_id: int) -> Dict:
    """
    Create the payload for the athletes all-time graphql request.

    Params:
        athlete_id: Identifier for an athlete.
    
    Returns:
        payload: graphql request payload.
    """
    payload={
        "operationName": "GetSingleCompetitorAllTimePersonalTop10",
        "variables":{
            "allTimePersonalTop10Discipline": 10229630, #fixed id for 100m
            "id":athlete_id,
        },
        "query":"query GetSingleCompetitorAllTimePersonalTop10($id: Int, $urlSlug: String, $allTimePersonalTop10Discipline: Int) {\n  getSingleCompetitorAllTimePersonalTop10(id: $id, urlSlug: $urlSlug, allTimePersonalTop10Discipline: $allTimePersonalTop10Discipline) {\n    parameters {\n      allTimePersonalTop10Discipline\n      __typename\n    }\n    disciplines {\n      id\n      name\n      __typename\n    }\n    results {\n      discipline\n      date\n      competition\n      country\n      category\n      race\n      place\n      result\n      wind\n      drop\n      withWind\n      withDrop\n      score\n      records\n      remark\n      __typename\n    }\n    __typename\n  }\n}\n"
    }
    return payload

def create_basic_df_from_event_results(event_results: Dict) -> pd.DataFrame:
    df = pd.DataFrame.from_records(event_results)
    df = df.drop(['remark', '__typename'], axis=1)
    return df


def filter_season_results(data: Dict) -> pd.DataFrame:
    events = data['data']['getSingleCompetitorResultsDiscipline']['resultsByEvent']
    event_results = None
    for event in events:
        if event["disciplineCode"] == "100":
            event_results = event['results']

    df = create_basic_df_from_event_results(event_results)
    return df

def filter_all_time_results(data: Dict) -> pd.DataFrame:
    event_results = data["data"]["getSingleCompetitorAllTimePersonalTop10"]["results"]
    df = create_basic_df_from_event_results(event_results)
    return df

def init_athlete_to_results(athlete_id_to_name: Dict[int, str]) -> Dict[str, Dict[str, pd.DataFrame]]:
    athlete_to_results = {}
    for athlete_name in athlete_id_to_name.values():
        athlete_to_results[athlete_name] = dict.fromkeys(["season", "all_time"], None)
    return athlete_to_results

def make_graphql_request(url: str, headers: Dict, payload: Dict) -> Dict:
    response = requests.post(url=url, json=payload, headers=headers)
    data = response.json()
    return data

def get_results(athlete_id, payload_func, filter_func) -> pd.DataFrame:
    payload = payload_func(athlete_id=athlete_id)
    data = make_graphql_request(url=url, headers=headers, payload=payload)
    df = filter_func(data) 
    return df

def get_athlete_results(athlete_id: int) -> pd.DataFrame:
    season_df = get_results(athlete_id, create_season_payload, filter_season_results)
    all_time_df = get_results(athlete_id, create_all_time_payload, filter_all_time_results)

    return season_df, all_time_df

def create_initial_dataset(athlete_id_to_name: Dict[int, str], athlete_to_results: Dict[str, Dict[str, None]]) -> Dict[str, Dict[str, pd.DataFrame]]:
    for athlete_id, athlete_name in athlete_id_to_name.items():
        season_df, all_time_df = get_athlete_results(athlete_id)
        athlete_to_results[athlete_name]["season"] = season_df
        athlete_to_results[athlete_name]["all_time"] = all_time_df
    
    return athlete_to_results


url = "https://x2iza5bwnneavfz3tdx4osjp6e.appsync-api.eu-west-1.amazonaws.com/graphql"
headers = create_headers()
athlete_to_results = init_athlete_to_results(athlete_id_to_name)
athlete_to_results = create_initial_dataset(athlete_id_to_name=athlete_id_to_name, athlete_to_results=athlete_to_results)

TypeError: 'NoneType' object is not subscriptable

In [5]:
pickle.dump(athlete_to_results, open('data.pickle', 'wb'))

In [6]:
test = pickle.load(open('data.pickle', 'rb'))

In [7]:
test['trayvon-bromell']['season']

,date,competition,venue,country,category,race,place,mark,wind,notLegal,resultScore
0,30 APR 2022,"UNF Invitational, Jax Track at Hodges Stadium,...","Jax Track at Hodges Stadium, Jacksonville, FL ...",USA,F,F1,1.,9.75,+2.1,True,1282
1,12 MAY 2022,"Puerto Rico International Athletics Classic, E...","Estadio Francisco Montaner, Ponce (PUR)",PUR,B,H2,1.,10.06,+0.6,False,1186
2,12 MAY 2022,"Puerto Rico International Athletics Classic, E...","Estadio Francisco Montaner, Ponce (PUR)",PUR,B,F,1.,9.92,-0.2,False,1235
3,21 MAY 2022,"Diamond League Meeting, Alexander Stadium, Bir...","Alexander Stadium, Birmingham (GBR)",GBR,GW,F,,DQ,-0.2,False,0
4,28 MAY 2022,"Prefontaine Classic, Hayward Field, Eugene, OR...","Hayward Field, Eugene, OR (USA)",USA,GW,F,1.,9.93,-0.2,False,1232
5,23 JUN 2022,"Toyota USATF Outdoor Championships, Hayward Fi...","Hayward Field, Eugene, OR (USA)",USA,B,H1,1.,10.10,-0.4,False,1174
6,24 JUN 2022,"Toyota USATF Outdoor Championships, Hayward Fi...","Hayward Field, Eugene, OR (USA)",USA,B,SF2,1.,9.81,+1.5,False,1273
7,24 JUN 2022,"Toyota USATF Outdoor Championships, Hayward Fi...","Hayward Field, Eugene, OR (USA)",USA,B,F,3.,9.88,+1.8,False,1248
8,15 JUL 2022,"World Athletics Championships, Oregon 2022, Ha...","Hayward Field, Eugene, OR (USA)",USA,OW,H3,1.,9.89,+0.6,False,1245
9,16 JUL 2022,"World Athletics Championships, Oregon 2022, Ha...","Hayward Field, Eugene, OR (USA)",USA,OW,SF1,2.,9.97,+0.3,False,1217
10,16 JUL 2022,"World Athletics Championships, Oregon 2022, Ha...","Hayward Field, Eugene, OR (USA)",USA,OW,F,3.,9.88,-0.1,False,1248
11,06 AUG 2022,"Kamila Skolimowska Memorial, Stadion Śląski, C...","Stadion Śląski, Chorzów (POL)",POL,GW,F,1.,9.95,-0.7,False,1228
12,08 AUG 2022,Gyulai István Memorial - Hungarian Athletics G...,"Bregyó Athletic Center, Székesfehérvár (HUN)",HUN,A,F,2.,10.01,+1.3,False,1203
13,08 SEP 2022,"Weltklasse, Letzigrund, Zürich - Diamond Disci...","Letzigrund, Zürich (SUI)",SUI,DF,F,1.,9.94,-0.3,False,1228

In [8]:
athlete_to_results['trayvon-bromell']['all_time']

,discipline,date,competition,country,category,race,place,result,wind,drop,withWind,withDrop,score,records
0,100 Metres,18 SEP 2021,"Kip Keino Classic, Moi International Sports Ce...",KEN,A,F,1.,9.76,+1.2,None,True,False,1291,[]
1,100 Metres,05 JUN 2021,"NACAC New Life Invitational, Ansin Sports Comp...",USA,B,F2,1.,9.77,+1.5,None,True,False,1287,[]
2,100 Metres,20 JUN 2021,"U.S. Olympic Trials, Hayward Field, Eugene, OR",USA,B,F,1.,9.80,+0.8,None,True,False,1276,[]
3,100 Metres,24 JUN 2022,"Toyota USATF Outdoor Championships, Hayward Fi...",USA,B,SF2,1.,9.81,+1.5,None,True,False,1273,[]
4,100 Metres,25 JUN 2015,"Eugene USA Ch., Hayward Field, Eugene, OR",USA,B,H4,1.,9.84,+1.3,None,True,False,1262,[]
5,100 Metres,03 JUL 2016,"Eugene U.S. Olympic Trials, Hayward Field, Eug...",USA,B,F,2.,9.84,+1.6,None,True,False,1262,[]
6,100 Metres,03 JUL 2016,"Eugene U.S. Olympic Trials, Hayward Field, Eug...",USA,B,SF2,1.,9.86,+2.0,None,True,False,1255,[]
7,100 Metres,30 APR 2021,"North Florida Invitational, Jax Track at Hodge...",USA,F,F,1.,9.88,+1.5,None,True,False,1248,[]
8,100 Metres,24 JUN 2022,"Toyota USATF Outdoor Championships, Hayward Fi...",USA,B,F,3.,9.88,+1.8,None,True,False,1248,[]
9,100 Metres,16 JUL 2022,"World Athletics Championships, Oregon 2022, Ha...",USA,OW,F,3.,9.88,-0.1,None,True,False,1248,[]

In [59]:
def wind_adjusted_time(time, wind):
    # https://www.tandfonline.com/doi/full/10.1080/17461391.2018.1480062
    a = 0.009459
    B = 0.0449
    b = 0.0042
    adjusted = time - (B*wind) + (a*time*wind) - (b*wind*wind) 
    return round(adjusted, 2)

# Feature Engineering

In [60]:
season = athlete_to_results['trayvon-bromell']['season']
season['date'] = pd.to_datetime(season['date'])
season = season.rename(columns={'mark': 'time', 'resultScore': 'score'})
season = season.drop(columns=['competition', 'country', 'venue', 'notLegal'], axis=1)
season = season[season['score'] != 0]
season['time'] = season['time'].astype(float)
season['place'] = season['place'].astype(float).astype(int)
season['wind'] = season['wind'].astype(float)
season['wind_adjusted_time'] = season.apply(lambda x: wind_adjusted_time(time=x['time'], wind=x['wind']), axis=1)


season

         date category race  place   time  wind  score  wind_adjusted_time
0  2022-04-30        F   F1      1   9.75   2.1   1282                9.83
1  2022-05-12        B   H2      1  10.06   0.6   1186               10.09
2  2022-05-12        B    F      1   9.92  -0.2   1235                9.91
4  2022-05-28       GW    F      1   9.93  -0.2   1232                9.92
5  2022-06-23        B   H1      1  10.10  -0.4   1174               10.08
6  2022-06-24        B  SF2      1   9.81   1.5   1273                9.87
7  2022-06-24        B    F      3   9.88   1.8   1248                9.95
8  2022-07-15       OW   H3      1   9.89   0.6   1245                9.92
9  2022-07-16       OW  SF1      2   9.97   0.3   1217                9.98
10 2022-07-16       OW    F      3   9.88  -0.1   1248                9.88
11 2022-08-06       GW    F      1   9.95  -0.7   1228                9.91
12 2022-08-08        A    F      2  10.01   1.3   1203               10.07
13 2022-09-08       DF    F      1   9.94  -0.3   1228                9.92

In [72]:
from scipy.optimize import minimize
def kalman_gain(noise, uncertainty):
    kalman_gain = noise/(noise + uncertainty)
    return kalman_gain

def update(mean, kalman_gain, measurement):
    new_mean = mean + kalman_gain * (measurement - mean)
    return new_mean

def drift(uncertainty, time, driftyness):
    new_uncertainty += time * driftyness
    return new_uncertainty


def fun(args):
    initial_params = (2, 1, 10, 0.01)
    noise, uncertainty, mean, driftyness = initial_params
    
    error = 0
    # iterate
    for row in season.itertuples():
       kg = kalman_gain(noise=noise, uncertainty=uncertainty)



    return error

# initial_params = (2, 1, 10, 0.01)
# x = minimize(fun, initial_params)
fun(x)

2022-04-30 00:00:00
2022-05-12 00:00:00
2022-05-12 00:00:00
2022-05-28 00:00:00
2022-06-23 00:00:00
2022-06-24 00:00:00
2022-06-24 00:00:00
2022-07-15 00:00:00
2022-07-16 00:00:00
2022-07-16 00:00:00
2022-08-06 00:00:00
2022-08-08 00:00:00
2022-09-08 00:00:00

0

In [ ]:

event_precedence_map = {
    "OW": 1,
    "DF": 2,
    ""
}